
  <footer class="footer">
    <div class="container-fluid">
      <p class="text-muted"><a href="https://github.com/JEFworks/ubit2">UBiT2</a> is developed and maintained by <a href="https://github.com/jefworks/">Jean Fan</a> at <a href="http://dbmi.hms.harvard.edu/">Harvard Medical School </a> and <a href="https://github.com/dfan97/">David Fan</a> at <a href="https://www.cs.princeton.edu">Princeton University</a>.</p>
    </div>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- bootstrap.min.js must go after jquery -->
    <script src="js/saveSvgAsPng.js"></script>
    <script src="js/saveSvg.js"></script>
  </footer>
