
  <footer class="footer">
    <div class="container-fluid">
      <p class="text-muted"><a href="https://github.com/JEFworks/ubit2">UBiT2</a> is developed and maintained by <a href="https://github.com/jefworks/">Jean Fan</a> at <a href="http://dbmi.hms.harvard.edu/">the Department of Biomedical Informatics of Harvard Medical School</a></p>
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/saveSvgAsPng.js"></script>
  </footer>
